# ----------------------
# Python cache
# ----------------------
__pycache__/
*.pyc

# ----------------------
# Environment variables (IMPORTANT 🔐)
# ----------------------
.env
.env.*

# ----------------------
# Vector Database (Chroma)
# ----------------------
db/

# ----------------------
# Virtual environment
# ----------------------
venv/

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# VS Code settings
# ----------------------
.vscode/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

